<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">	
	<link rel="canonical" href="https://www.thebinarytimes.net/">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/manifest.json">
	<!-- ==Missing== <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg"> -->

	<meta name="theme-color" content="#ffffff">

	<meta name="author" content="The Binary Times Podcasters">
	<meta name="Designer" content="The Binary Times Podcasters">
	<meta name="geo.region" content="GB-BST">
	<meta name="Subject" content="Learn all about GNU/Linux on the Binary Times podcast">
	<meta name="rating" content="general"> 
	<meta name="revisit-after" content="7 days">
	<meta name="contact" content="info@thebinarytimes.net">
	<meta name="language" content="English">
	<meta name="web_author" content="The Binary Times Podcasters">
	<meta name="resource-type" content="document">
	<meta name="keywords" content="The Binary Times Podcast, Wayne, Mark, GNU/Linux, Open Source, Podcast, talkshow, idle musings, free software, hardware, culture">
	<meta name="description" content="A linux podcast from two Irish chaps who discuss free software, hardware and culture. Enjoy the content, leave some feedback via email. ">
	<meta name="author" content="The Binary Times contributors">

	<meta name="robots" content="noodp">

	<meta property="og:locale" content="en_GB">
	<meta property="og:type" content="website">
	<meta property="og:title" content="The Binary Times Podcast">
	<meta property="og:description" content="The Binary Times Podcast | GNU/Linux tips and tricks, everyday GNU/Linux IT usage and news.  Make the most of your GNU/Linux installation">
	<meta property="og:url" content="https://www.thebinarytimes.net/">
	<meta property="og:site_name" content="The Binary Times Podcast">
	<meta property="og:image" content="http://www.thebinarytimes.net/BT_PodcastWebBanner.png">

	<title>{% if title|default('') != '' %}{{ title }} | {% endif %}The Binary Times Podcast | GNU/Linux/free software/hardware/culture</title>
</head>
